@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components {
  .Header {
    background-image: url("/assets/mobile/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    height: 12.2rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2rem 0 2rem;
  }
  .Main {
    flex-direction: column;
    /* margin-bottom: 10rem; */
    position: relative;
    display: flex;
    background-color: #f4f6f8;
    opacity: 1;
    align-items: center;
  }
}
