@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @apply bg-gray-100;
  @apply dark:bg-[#121721];
}
@layer components {
  .Header {
    background-image: url("/assets/mobile/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    height: 12.2rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2rem 0 2rem;
    @screen md {
      background-image: url("/assets/tablet/bg-pattern-header.svg");
    }
  }
  .Main {
    flex-direction: column;
    margin: 1rem;
    position: relative;
    display: flex;

    opacity: 1;
    align-items: center;
  }
  .icons {
    display: none;
    fill: black;
    @screen md {
      display: flex;
    }
  }
}
